<!-- start footer --> 
<footer class="footer-standard-dark bg-extra-dark-gray"> 
    <div class="footer-widget-area padding-five-tb sm-padding-30px-tb">
        <div class="container">
            <div class="row">
                <div class="col-lg-6 col-md-6 widget border-right border-color-medium-dark-gray md-no-border-right md-margin-30px-bottom sm-text-center">
                    <!-- start logo -->
                    <a href="index.html" class="margin-20px-bottom d-inline-block"><img class="footer-logo" src="images/logo-white.png" data-rjs="images/logo-white@2x.png" alt=""></a>
                    <!-- end logo -->

                    <h5 class="width-95 sm-width-100" style="color: aliceblue;">STAY CONNECTED WITH US</h5>

                    <!-- start social media -->
                    <div class="social-icon-style-8 d-inline-block vertical-align-middle">
                        <ul class="small-icon no-margin-bottom">
                            <li>
                              <a class="facebook text-white-2" href="#" target="_blank"><i class="fab fa-line icon-size" aria-hidden="true"></i></a>
                            </li>
                            <li>
                              <a class="instagram text-white-2" href="#" target="_blank"><i class="fab fa-instagram icon-size" aria-hidden="true"></i></a>
                            </li>
                            <li>
                              <a class="google text-white-2" href="#" target="_blank"><i class="fab fa-youtube icon-size"></i></a>
                            </li>
                            <li>
                              <a class="twitter text-white-2" href="#" target="_blank"><i class="fab fa-twitter icon-size no-margin-right"></i></a>
                            </li>
                        </ul>
                    </div>
                    <!-- end social media -->
                </div>

                <div class="col-lg-3 col-md-6 widget md-no-border-right md-margin-30px-bottom text-left sm-text-center">

                  <span class="text-extra-large font-weight-300 text-white text-left d-block margin-two-top sm-width-65"><s>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; Andamaru Jayantara</s></span>
                  <h4 class="text-white w-50 d-inline-block text-left font-weight-300 letter-spacing-minus-1 lg-width-70 sm-width-80">MPKMB IPB 56</h4>
                </div>  

                <div class="col-lg-3 col-md-6 widget md-no-border-right md-margin-30px-bottom sm-text-center">
                  <!-- start logo -->
                  <a href="index.html" class="margin-20px-bottom d-inline-block">
                    <img class="logo-bottom" src="../../../assets/img/logo/logo-mpkmb-56.png" data-rjs="../../../assets/img/logo/logo-mpkmb-56.png" alt="logo">
                  </a>
                  <!-- end logo -->
                </div>  
                  
            </div>
        </div>
    </div>
    <div class="bg-dark-footer padding-50px-tb text-center sm-padding-30px-tb">
        <div class="container">
            <div class="row">
                <!-- start copyright -->
                <div class="col-md-6 text-md-left text-small text-center">&copy; 2019 POFO is Proudly Powered by <a href="http://www.themezaa.com" target="_blank" class="text-dark-gray">ThemeZaa</a> Modified by <a href="www.codepanda.id">codepanda.id</a></div>
                <!-- end copyright -->
            </div>
        </div>
    </div>
</footer>