<!-- start footer --> 
<footer class="footer-standard-dark bg-extra-dark-gray"> 
    <div class="footer-widget-area padding-five-tb sm-padding-30px-tb">
        <div class="container">
            <div class="row">
                <div class="col-lg-6 col-md-6 widget border-right border-color-medium-dark-gray md-no-border-right md-margin-30px-bottom sm-text-center">

                    <h5 class="width-95 sm-width-100" style="color: aliceblue;">STAY CONNECTED WITH US</h5>

                    <!-- start social media -->
                    <div class="social-icon-style-8 d-inline-block vertical-align-middle">
                        <ul class="small-icon no-margin-bottom">
                            <li>
                              <a class="google text-white-2" href="mailto:mpkmbipb@apps.ipb.ac.id" target="_blank"><i class="fas fa-envelope icon-size" aria-hidden="true"></i></a>
                            </li>
                            <li>
                              <a class="facebook text-white-2" href="https://wa.me/6281291756453" target="_blank"><i class="fab fa-whatsapp icon-size" aria-hidden="true"></i></a>
                            </li>
                            <li>
                              <a class="instagram text-white-2" href="https://www.instagram.com/mpkmbipb" target="_blank"><i class="fab fa-instagram icon-size" aria-hidden="true"></i></a>
                            </li>
                            <li>
                              <a class="google text-white-2" href="https://www.youtube.com/channel/UCdHt1R2mPVPZkP_Zr0eKGFw" target="_blank"><i class="fab fa-youtube icon-size"></i></a>
                            </li>
                            <li>
                              <a class="twitter text-white-2" href="https://twitter.com/mpkmb_ipb" target="_blank"><i class="fab fa-twitter icon-size no-margin-right"></i></a>
                            </li>
                        </ul>
                    </div>
                    <!-- end social media -->
                </div>

                <div class="col-lg-3 col-md-6 widget md-no-border-right text-right sm-text-center">
                  <span class="text-large font-weight-300 text-white text-right d-block margin-two-top sm-width-100 sm-text-center">Andamaru Jayantara</span>
                  <h5 class="text-white d-inline-block text-right font-weight-300 letter-spacing-minus-1 lg-width-70 sm-width-100 sm-text-center">MPKMB IPB 56</h5>
                </div>  

                <div class="col-lg-3 col-md-6 widget md-no-border-right sm-text-center">
                  <!-- start logo -->
                  <a href="index.html" class="margin-20px-bottom d-inline-block">
                    <img class="logo-bottom" src="../../../assets/img/logo/logo-mpkmb-56.png" data-rjs="../../../assets/img/logo/logo-mpkmb-56.png" alt="logo">
                  </a>
                  <!-- end logo -->
                </div>  
                  
            </div>
        </div>
    </div>
    <div class="bg-dark-footer padding-30px-tb text-center sm-padding-30px-tb">
        <div class="container">
            <div class="row">
                <!-- start copyright -->
                <div class="col-md-12 text-md-center text-small text-center">&copy; 2019 <a href="http://mpkmb.ipb.ac.id">Website MPKMB IPB</a> by <a href="https://www.codepanda.id" target="_blank">codepanda.id</a></div>
                <!-- end copyright -->
            </div>
        </div>
    </div>
</footer>