  <!-- start page title section -->
  <section class="p-0 one-third-screen position-relative wow fadeIn">
    <div class="opacity-medium bg-extra-dark-gray z-index-0"></div>
    <div class="container">
        <div class="row align-items-center">
            <div class="col-12 one-third-screen d-flex flex-column justify-content-center page-title-large text-center">
                <!-- start sub title -->
                <span class="d-block text-white-2 opacity6 margin-10px-bottom alt-font">MPKMB IPB 56</span>
                <!-- end sub title -->

                <!-- start page title -->
                <h1 class="alt-font text-white-2 font-weight-600 width-55 md-width-80 sm-width-100 mx-auto mb-0">Kontak Kami</h1>
                <!-- end page title -->
            </div>
            <div class="down-section text-center"><a href="#about" class="inner-link"><i class="ti-arrow-down icon-extra-small text-white-2 bg-deep-pink padding-15px-all sm-padding-10px-all rounded-circle"></i></a></div>
        </div>
    </div>
    <div class="swiper-auto-fade swiper-container z-index-minus2 position-absolute top-0 w-100 h-100">
        <div class="swiper-wrapper">
            <!-- start slider item -->
            <div class="swiper-slide cover-background one-third-screen" style="background-image:url('../../../assets/img/galeri/mpkmb-3.webp');"></div>
            <!-- end slider item -->
            <!-- start slider item -->
            <div class="swiper-slide cover-background one-third-screen" style="background-image:url('http://placehold.it/1920x1080');"></div>
            <!-- end slider item -->
            <!-- start slider item -->
            <div class="swiper-slide cover-background one-third-screen" style="background-image:url('http://placehold.it/1920x1080');"></div>
            <!-- end slider item -->
        </div>
        <!-- <div class="swiper-pagination swiper-auto-pagination d-none"></div> -->
    </div>
</section>
<!-- end page title section -->

<!-- start contact section -->
<section class="no-padding bg-extra-dark-gray">
  <div class="container-fluid">
      <div class="row">
          <div class="col-12 col-lg-6 p-0 cover-background md-height-450px sm-height-350px wow fadeInLeft" style="background: url(http://placehold.it/1000x700)"></div>
          <div class="col-12 col-lg-6 p-0 wow fadeInRight">
              <div class="row m-0">
                  <!-- start contact item -->
                  <div class="col-12 col-md-6 bg-extra-dark-gray d-flex flex-column justify-content-center align-items-center text-center height-350px last-paragraph-no-margin">
                      <i class="icon-map text-deep-pink icon-medium margin-25px-bottom"></i>
                      <div class="text-white-2 text-uppercase alt-font font-weight-600 margin-5px-bottom">Contact Address</div>
                      <p class="width-60 lg-width-80 mx-auto text-medium">301 The Greenhouse, Custard Factory, London, E2 8DY.</p>
                  </div>
                  <!-- end contact item -->
                  <!-- start contact item -->
                  <div class="col-12 col-md-6 bg-black d-flex flex-column justify-content-center align-items-center text-center height-350px last-paragraph-no-margin">
                      <i class="icon-chat text-deep-pink icon-medium margin-25px-bottom"></i>
                      <div class="text-white-2 text-uppercase alt-font font-weight-600 margin-5px-bottom">Let's Talk</div>
                      <p class="mx-auto text-medium mb-0">Phone: 1-800-222-000</p>
                      <p class="mx-auto text-medium">Fax: 1-800-222-002</p>
                  </div>
                  <!-- end contact item -->
                  <!-- start contact item -->
                  <div class="col-12 col-md-6 bg-black d-flex flex-column justify-content-center align-items-center text-center height-350px last-paragraph-no-margin">
                      <i class="icon-envelope text-deep-pink icon-medium margin-25px-bottom"></i>
                      <div class="text-white-2 text-uppercase alt-font font-weight-600 margin-5px-bottom">Email Us</div>
                      <p class="mx-auto text-medium mb-0"><a href="mailto:info@domain.com">info@domain.com</a></p>
                      <p class="mx-auto text-medium"><a href="mailto:hire@domain.com">hire@domain.com</a></p>
                  </div>
                  <!-- end contact item -->
                  <!-- start contact item -->
                  <div class="col-12 col-md-6 bg-extra-dark-gray d-flex flex-column justify-content-center align-items-center text-center height-350px last-paragraph-no-margin">
                      <i class="icon-clock text-deep-pink icon-medium margin-25px-bottom"></i>
                      <div class="text-white-2 text-uppercase alt-font font-weight-600 margin-5px-bottom">Working Hours</div>
                      <p class="mx-auto text-medium mb-0">Mon to Sat - 9 AM to 11 PM</p>
                      <p class="mx-auto text-medium">Sunday - 10 AM to 6 PM</p>
                  </div>
                  <!-- end contact item -->
              </div>
          </div>
      </div>
  </div>
</section>
<!-- end contact section -->        

<!-- start social network -->

<section class="wow fadeIn bg-light-gray">
  <div class="container">
      <div class="row">
          <div class="col-12 text-center social-style-4">
              <span class="text-medium font-weight-600 text-uppercase d-block alt-font text-extra-dark-gray margin-30px-bottom">On social networks</span>
              <div class="social-icon-style-4">
                  <ul class="margin-30px-top large-icon">
                      <li><a class="whatsapp" href="#" target="_blank"><i class="fab fa-line"></i><span></span></a></li>
                      <li><a class="instagram" href="#" target="_blank"><i class="fab fa-instagram"></i><span></span></a></li>
                      <li><a class="youtube" href="#" target="_blank"><i class="fab fa-youtube"></i><span></span></a></li>
                      <li><a class="twitter" href="#" target="_blank"><i class="fab fa-twitter"></i><span></span></a></li>
                  </ul>
              </div>
          </div>
      </div>
  </div>
</section>

<!-- end social network -->