.scroll-down-mobile{
    display: none;
}

@media screen and (min-width: 767px){
    .scroll-down-mobile{
        margin-top: 0vh !important;
        margin-left: auto !important;
        margin-right: auto !important;
        display: block;
    }
}