<!-- start page title section -->
<section class="p-0 one-third-screen position-relative wow fadeIn">
    <div class="opacity-medium bg-extra-dark-gray z-index-0"></div>
    <div class="container">
        <div class="row align-items-center">
            <div class="col-12 one-third-screen d-flex flex-column justify-content-center page-title-large text-center">
                <!-- start sub title -->
                <p class="d-block text-white-2 font-weight-700 alt-font" style="font-size: 6em; margin-bottom: 10vh;">MPKMB</p>
                <!-- end sub title -->

                <!-- start page title -->
                <p class="alt-font text-white-2 font-weight-300 width-55 md-width-80 sm-width-100 mx-auto mb-0" style="font-size: 4em;">STORE</p>
                <!-- end page title -->

                <!-- start description -->
                <p class="alt-font text-white-2 font-weight-300 width-55 md-width-80 sm-width-100 mx-auto mb-0" style="font-size: 1.25em; margin-top: 5vh"><s class="text-deep-pink" style="font-size: 1.5em;">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;</s> Lorem ipsum dolor sit amet consectetur adipisicing elit. Illo, voluptatum illum! At ipsum nemo, voluptatibus voluptas eum quis aperiam.</p>
                <!-- end description -->

            </div>

            <div class="down-section text-center">
              <button [ngx-scroll-to]="'#daftar-barang'" class="inner-link btn btn-transparent scroll-down-mobile">
                <i class="ti-arrow-down icon-extra-small text-white-2 bg-deep-pink padding-15px-all sm-padding-10px-all rounded-circle"></i>
              </button>
            </div>
        </div>
    </div>
    <div class="swiper-auto-fade swiper-container z-index-minus2 position-absolute top-0 w-100 h-100">
        <div class="swiper-wrapper">
            <!-- start slider item -->
            <div class="swiper-slide cover-background one-third-screen" style="background-image:url('../../../assets/img/galeri/mpkmb-3.webp');"></div>
            <!-- end slider item -->
            <!-- start slider item -->
            <div class="swiper-slide cover-background one-third-screen" style="background-image:url('http://placehold.it/1920x1080');"></div>
            <!-- end slider item -->
            <!-- start slider item -->
            <div class="swiper-slide cover-background one-third-screen" style="background-image:url('http://placehold.it/1920x1080');"></div>
            <!-- end slider item -->
        </div>
        <!-- <div class="swiper-pagination swiper-auto-pagination d-none"></div> -->
    </div>
</section>
<!-- end page title section -->

<!-- start portfolio slider section -->
<section id="daftar-barang" class="wow fadeIn bg-light-gray">
    <div class="container-fluid">
      <div class="row">
          <div class="col-12 hover-option4 margin-5px-bottom">
              <div class="swiper-multy-row-container overflow-hidden">
                  <div class="swiper-wrapper">

                    <!-- start portfolio slider item -->
                    <div class="swiper-slide grid-item">
                      <b><p class="text-center" style="font-size: 1.3em;">Nama Barang</p></b>
                      <p class="text-center text-deep-pink" style="font-size: 1.1em;">Harga</p>
                      <figure>
                          <div class="portfolio-img bg-extra-dark-gray">
                            <img src="../../../assets/img/galeri/mpkmb-1.webp" alt=""/>
                          </div>
                          <figcaption class="d-flex justify-content-center align-items-center text-center">
                              <div class="portfolio-hover-content position-relative last-paragraph-no-margin">
                                  <span class="font-weight-600 line-height-normal alt-font text-white-2 text-uppercase margin-5px-bottom d-block">Nama Barang</span>
                                  <p class="text-medium-gray text-uppercase text-extra-small">Harga</p>
                              </div>
                          </figcaption>
                      </figure>
                      <p class="text-dark text-center" style="font-size: 1.1em;">Deskripsi Singkat</p>
                    </div>
                    <!-- end portfolio slider item -->

                    <!-- start portfolio slider item -->
                    <div class="swiper-slide grid-item">
                      <b><p class="text-center" style="font-size: 1.3em;">Nama Barang</p></b>
                      <p class="text-center text-deep-pink" style="font-size: 1.1em;">Rp. 15.000,00</p>
                      <figure>
                          <div class="portfolio-img bg-extra-dark-gray">
                            <img src="../../../assets/img/galeri/mpkmb-4.webp" alt=""/>
                          </div>
                          <figcaption class="d-flex justify-content-center align-items-center text-center">
                              <div class="portfolio-hover-content position-relative last-paragraph-no-margin">
                                  <span class="font-weight-600 line-height-normal alt-font text-white-2 text-uppercase margin-5px-bottom d-block">Nama Barang</span>
                                  <p class="text-medium-gray text-uppercase text-extra-small">Harga</p>
                              </div>
                          </figcaption>
                      </figure>
                      <p class="text-dark text-center" style="font-size: 1.1em;">Lorem ipsum dolor sit amet consectetur, adipisicing elit. Sequi, laboriosam exercitationem.</p>
                    </div>
                    <!-- end portfolio slider item -->

                    <!-- start portfolio slider item -->
                    <div class="swiper-slide grid-item">
                      <b><p class="text-center" style="font-size: 1.3em;">Nama Barang</p></b>
                      <p class="text-center text-deep-pink" style="font-size: 1.1em;">Lorem ipsum, dolor sit amet</p>
                      <figure>
                          <div class="portfolio-img bg-extra-dark-gray">
                            <img src="../../../assets/img/galeri/mpkmb-1.webp" alt=""/>
                          </div>
                          <figcaption class="d-flex justify-content-center align-items-center text-center">
                              <div class="portfolio-hover-content position-relative last-paragraph-no-margin">
                                  <span class="font-weight-600 line-height-normal alt-font text-white-2 text-uppercase margin-5px-bottom d-block">Nama Barang</span>
                                  <p class="text-medium-gray text-uppercase text-extra-small">Harga</p>
                              </div>
                          </figcaption>
                      </figure>
                      <p class="text-dark text-center" style="font-size: 1.1em;">Lorem ipsum dolor sit amet consectetur, adipisicing elit. Sequi, laboriosam exercitationem.</p>
                    </div>
                    <!-- end portfolio slider item -->

                    <!-- start portfolio slider item -->
                    <div class="swiper-slide grid-item">
                      <b><p class="text-center" style="font-size: 1.3em;">Nama Barang</p></b>
                      <p class="text-center text-deep-pink" style="font-size: 1.1em;">Lorem ipsum, dolor sit amet</p>
                        <figure>
                          <div class="portfolio-img bg-extra-dark-gray">
                            <img src="http://placehold.it/800x650" alt=""/>
                          </div>
                          <figcaption class="d-flex justify-content-center align-items-center text-center">
                              <div class="portfolio-hover-content position-relative last-paragraph-no-margin">
                                  <span class="font-weight-600 line-height-normal alt-font text-white-2 text-uppercase margin-5px-bottom d-block">Herbal Beauty Salon</span>
                                  <p class="text-medium-gray text-uppercase text-extra-small">Branding and Identity</p>
                              </div>
                          </figcaption>
                      </figure>
                      <p class="text-dark text-center" style="font-size: 1.1em;">Lorem ipsum dolor sit amet consectetur, adipisicing elit. Sequi, laboriosam exercitationem.</p>
                  </div>
                  <!-- end portfolio slider item -->

                  <!-- start portfolio slider item -->
                  <div class="swiper-slide grid-item">
                    <b><p class="text-center" style="font-size: 1.3em;">Nama Barang</p></b>
                    <p class="text-center text-deep-pink" style="font-size: 1.1em;">Lorem ipsum, dolor sit amet</p>
                      <figure>
                        <div class="portfolio-img bg-extra-dark-gray">
                          <img src="http://placehold.it/800x650" alt=""/>
                        </div>
                        <figcaption class="d-flex justify-content-center align-items-center text-center">
                            <div class="portfolio-hover-content position-relative last-paragraph-no-margin">
                                <span class="font-weight-600 line-height-normal alt-font text-white-2 text-uppercase margin-5px-bottom d-block">Herbal Beauty Salon</span>
                                <p class="text-medium-gray text-uppercase text-extra-small">Branding and Identity</p>
                            </div>
                        </figcaption>
                    </figure>
                    <p class="text-dark text-center" style="font-size: 1.1em;">Lorem ipsum dolor sit amet consectetur, adipisicing elit. Sequi, laboriosam exercitationem.</p>
                  </div>
                  <!-- end portfolio slider item -->

                  <!-- start portfolio slider item -->
                  <div class="swiper-slide grid-item">
                    <b><p class="text-center" style="font-size: 1.3em;">Nama Barang</p></b>
                    <p class="text-center text-deep-pink" style="font-size: 1.1em;">Lorem ipsum, dolor sit amet</p>
                      <figure>
                        <div class="portfolio-img bg-extra-dark-gray">
                          <img src="http://placehold.it/800x650" alt=""/>
                        </div>
                        <figcaption class="d-flex justify-content-center align-items-center text-center">
                            <div class="portfolio-hover-content position-relative last-paragraph-no-margin">
                                <span class="font-weight-600 line-height-normal alt-font text-white-2 text-uppercase margin-5px-bottom d-block">Herbal Beauty Salon</span>
                                <p class="text-medium-gray text-uppercase text-extra-small">Branding and Identity</p>
                            </div>
                        </figcaption>
                    </figure>
                    <p class="text-dark text-center" style="font-size: 1.1em;">Lorem ipsum dolor sit amet consectetur, adipisicing elit. Sequi, laboriosam exercitationem.</p>
                  </div>
                  <!-- end portfolio slider item -->   
                  
                </div>

                <!-- start slider pagination -->

                <div class="swiper-portfolio-prev swiper-button-black-highlight"><i class="ti-arrow-left"></i></div>
                <div class="swiper-portfolio-next swiper-button-black-highlight"><i class="ti-arrow-right"></i></div>

                <!-- end slider pagination -->

              </div>                
          </div>
      </div>  
    </div>

    <div class="row">
      <div class="col-12 hover-option4 margin-5px-bottom">
        <div class="swiper-multy-row-container overflow-hidden">
          <div class="swiper-wrapper">

          <div class="row" style="padding-top: 20vh;">
            <div class="down-section text-center">
              <button [ngx-scroll-to]="'#lembar-pemesanan'" class="inner-link btn btn-transparent">
                <i class="ti-arrow-down icon-extra-small text-white-2 bg-deep-pink padding-15px-all sm-padding-10px-all rounded-circle"></i>
              </button>
            </div>
          </div>      
      
        </div>                
      </div>

    </div>  
  </div>
</section>
<!-- end portfolio slider section -->

<!-- start section -->
<section id="lembar-pemesanan" class="wow fadeIn">
    <div class="container">
        <div class="row justify-content-center">
            <div class="col-12 col-lg-5 col-md-11 padding-five-right md-margin-5px-bottom text-center text-lg-left md-padding-15px-lr sm-margin-10px-bottom wow fadeIn">
                <p class="alt-font text-deep-pink margin-10px-bottom"><s>MPKMB Store &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;</s></p>
                <h5 class="alt-font font-weight-600 text-extra-dark-gray">Lembar Pemesanan</h5>
                <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Corporis quisquam, nesciunt harum atque, vitae ex saepe odit vero non provident rerum accusamus. Rerum commodi id vel dicta autem pariatur alias?</p>
            </div>

            <div class="col-12 col-lg-7 padding-five-lr md-padding-15px-lr">
                <div class="row m-0">
                  <form id="contact-form-2" action="javascript:void(0)" method="post">
                      <div class="row justify-content-center">
                          <div class="col-12 col-lg-8 wow fadeIn text-center">
                              <div id="success-contact-form-2" class="mx-0"></div>
                                <input type="text" name="name" id="name" placeholder="Nama Lengkap*" class="input-border-bottom">

                                <select name="budget" id="budget" class="input-border-bottom">
                                    <option value="">Fakultas*</option>
                                    <option value="FAPERTA">FAPERTA</option>
                                    <option value="FKH">FKH</option>
                                    <option value="FPIK">FPIK</option>
                                    <option value="FAPET">FAPET</option>
                                    <option value="FAHUTAN">FAHUTAN</option>
                                    <option value="FATETA">FATETA</option>
                                    <option value="FMIPA">FMIPA</option>
                                    <option value="FEM">FEM</option>
                                    <option value="FEMA">FEMA</option>
                                    <option value="SB">SB</option>
                                </select>

                                <input type="text" name="email" id="email" placeholder="E-mail*" class="input-border-bottom">

                                <input type="text" id="idline" name="idline" placeholder="ID Line / WhatsApp*" class="input-border-bottom">

                                <textarea name="pemesanan" id="pemesanan" placeholder="Barang yang Dipesan*" class="input-border-bottom"></textarea>

                                <button id="contact-us-button-2" type="submit" class="btn btn-dark-gray btn-rounded btn-small no-margin-lr">Pesan Sekarang</button>
                          </div>
                      </div>
                  </form>
                </div>
            </div>
        </div>
    </div>
</section>
<!-- end section -->

