<!-- start slider section -->
<section class="p-0 wow fadeIn no-transition">
    <article class="content"> 
        <div id="rev_slider_151_1_wrapper" class="rev_slider_wrapperd fullscreenbanner" data-alias="blur-effect-slider" data-source="gallery" style="background-color:#2d3032;padding:0px;">
            <!-- start revolution slider 5.4.1 fullscreen mode -->
            <div id="rev_slider_151_1" class="rev_slider fullscreenbanner" data-version="5.4.1">
                <ul>

                    <!-- slider item -->
                    <li data-index="rs-411" data-transition="fadethroughtransparent" data-slotamount="default" data-hideafterloop="0" data-hideslideonmobile="off"  data-easein="default" data-easeout="default" data-masterspeed="default"  data-thumb="images/blur1-100x50.jpg"  data-rotate="0"  data-fstransition="fade" data-fsmasterspeed="1000" data-fsslotamount="7" data-saveperformance="off"  data-title="One" data-param1="" data-param2="" data-param3="" data-param4="" data-param5="" data-param6="" data-param7="" data-param8="" data-param9="" data-param10="" data-description="">
                        <!-- main image -->
                        <img src="../../../assets/img/galeri/mpkmb-3.webp"  alt="" data-bgposition="center center" data-bgfit="cover" data-bgrepeat="no-repeat" data-bgparallax="6" class="rev-slidebg" data-no-retina>
                        <!-- layers -->
                        <div CLASS="opacity-extra-medium bg-extra-dark-gray"></div>
                        <div id="rrzt_411" class="rev_row_zone rev_row_zone_top slider-typography" style="z-index: 9;">
                            <div class=" slider-text-middle-main">
                                <div class=" slider-text-middle padding-thirteen-left">
                                    <!-- layer nr. 1 -->
                                    <div class="tp-caption" 
                                         id="slide-411-layer-14" 
                                         data-x="['left','left','left','left']" data-hoffset="['100','100','100','100']" 
                                         data-y="['top','top','top','top']" data-voffset="['100','100','100','100']" 

                                         data-type="row" 
                                         data-columnbreak="2" 
                                         data-basealign="slide" 
                                         data-responsive_offset="on" 
                                         data-responsive="off"
                                         data-frames='[{"delay":10,"speed":300,"frame":"0","from":"opacity:0;","to":"o:1;","ease":"Power3.easeInOut"},{"delay":"wait","speed":300,"frame":"999","to":"opacity:0;","ease":"Power3.easeInOut"}]'

                                         style="z-index: 9; white-space: nowrap; font-size: 20px; line-height: 22px; font-weight: 400; color: rgba(255, 255, 255, 1.00);">
                                        <!-- layer nr. 2 -->
                                        <div class="tp-caption " 
                                             id="slide-411-layer-15" 
                                             data-x="['left','left','left','left']" data-hoffset="['100','100','100','100']" 
                                             data-y="['top','top','top','top']" data-voffset="['100','100','100','100']" 

                                             data-type="column" 
                                             data-responsive_offset="on" 
                                             data-responsive="off"
                                             data-frames='[{"delay":"+0","speed":300,"frame":"0","from":"opacity:0;","to":"o:1;","ease":"Power3.easeInOut"},{"delay":"wait","speed":300,"frame":"999","to":"opacity:0;","ease":"Power3.easeInOut"}]'

                                             style="z-index: 10; width: 100%;">
                                            <!-- layer nr. 3 -->
                                            <div class="tp-caption tp-resizeme feature-box-1 blurslider-gradient alt-font text-white-2 font-weight-600 title-medium margin-30px-bottom" 
                                              id="slide-411-layer-1" 
                                              data-x="['left','left','center','center']" data-hoffset="['0','0','0','0']" 
                                              data-y="['top','top','top','top']" data-voffset="['0','0','230','110']"  
                                              data-fontsize="['130','90','60','30']"
                                              data-lineheight="['120','120','100','60']"
                                              data-type="text" 
                                              data-basealign="slide" 
                                              data-responsive_offset="on" 

                                              data-frames='[{"delay":"+290","speed":2000,"frame":"0","from":"y:50px;opacity:0;fb:20px;","to":"o:1;fb:0;","ease":"Power4.easeOut"},{"delay":"wait","speed":300,"frame":"999","to":"opacity:0;fb:0;","ease":"Power3.easeInOut"}]'
                                              style="z-index: 11; letter-spacing: -1px;"><a href="artikel" class="text-white-2 text-white-2-hover">MPKMB<br>IPB 56</a>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </li>

                    <!-- slider item -->
                    <li data-index="rs-412" data-transition="fadethroughtransparent" data-slotamount="default" data-hideafterloop="0" data-hideslideonmobile="off"  data-easein="default" data-easeout="default" data-masterspeed="default"  data-thumb="images/blurbg14-100x50.jpg"  data-rotate="0"  data-saveperformance="off"  data-title="Two" data-param1="" data-param2="" data-param3="" data-param4="" data-param5="" data-param6="" data-param7="" data-param8="" data-param9="" data-param10="" data-description="">
                        <!-- main image -->
                        <img src="../../../assets/img/galeri/mpkmb-3.webp"  alt=""  data-bgposition="center center" data-bgfit="cover" data-bgrepeat="no-repeat" data-bgparallax="6" class="rev-slidebg" data-no-retina>
                        <!-- layers -->
                        <div class="opacity-extra-medium bg-black"></div>
                        <div id="rrzt_412" class="rev_row_zone rev_row_zone_top slider-typography" style="z-index: 5;">
                            <div class=" slider-text-middle-main">
                                <div class=" slider-text-middle padding-thirteen-left">
                                    <!-- layer nr. 10 -->
                                    <div class="tp-caption  " 
                                         id="slide-412-layer-14" 
                                         data-x="['left','left','left','left']" data-hoffset="['100','100','100','100']" 
                                         data-y="['top','top','top','top']" data-voffset="['100','100','100','100']" 

                                         data-type="row" 
                                         data-columnbreak="2" 
                                         data-basealign="slide" 
                                         data-responsive_offset="on" 
                                         data-responsive="off"
                                         data-frames='[{"delay":10,"speed":300,"frame":"0","from":"opacity:0;","to":"o:1;","ease":"Power3.easeInOut"},{"delay":"wait","speed":300,"frame":"999","to":"opacity:0;","ease":"Power3.easeInOut"}]'
                                         style="z-index: 5; white-space: nowrap; font-size: 20px; line-height: 22px; font-weight: 400; color: rgba(255, 255, 255, 1.00);">
                                        <!-- layer nr. 11 -->
                                        <div class="tp-caption  " 
                                             id="slide-412-layer-15" 
                                             data-x="['left','left','left','left']" data-hoffset="['100','100','100','100']" 
                                             data-y="['top','top','top','top']" data-voffset="['100','100','100','100']" 

                                             data-type="column" 
                                             data-responsive_offset="on" 
                                             data-responsive="off"
                                             data-frames='[{"delay":"+0","speed":300,"frame":"0","from":"opacity:0;","to":"o:1;","ease":"Power3.easeInOut"},{"delay":"wait","speed":300,"frame":"999","to":"opacity:0;","ease":"Power3.easeInOut"}]'

                                             style="z-index: 6; width: 100%;">
                                            <!-- layer nr. 12 -->
                                            <div class="tp-caption tp-resizeme blurslider-gradient alt-font text-white-2 font-weight-600 title-medium margin-30px-bottom" 
                                                 id="slide-412-layer-1" 
                                                 data-x="['left','left','center','center']" data-hoffset="['0','0','0','0']" 
                                                 data-y="['top','top','top','top']" data-voffset="['0','0','230','110']"  
                                                 data-fontsize="['100','80','60','50']"
                                                 data-lineheight="['120','120','100','60']"
                                                 data-type="text" 
                                                 data-basealign="slide" 
                                                 data-responsive_offset="on" 

                                                 data-frames='[{"delay":"+290","speed":2000,"frame":"0","from":"y:50px;opacity:0;fb:20px;","to":"o:1;fb:0;","ease":"Power4.easeOut"},{"delay":"wait","speed":300,"frame":"999","to":"opacity:0;fb:0;","ease":"Power3.easeInOut"}]'

                                                 style="z-index: 11; letter-spacing: -1px;"><a href="artikel" class="text-white-2 text-white-2-hover">IPB MEMECAHKAN<br>REKOR DUNIA</a></div>

                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </li>

                    <!-- slider item -->
                    <li data-index="rs-413" data-transition="fadethroughtransparent" data-slotamount="default" data-hideafterloop="0" data-hideslideonmobile="off"  data-easein="default" data-easeout="default" data-masterspeed="default"  data-thumb="images/blurbg10-100x50.jpg"  data-rotate="0"  data-saveperformance="off"  data-title="Three" data-param1="" data-param2="" data-param3="" data-param4="" data-param5="" data-param6="" data-param7="" data-param8="" data-param9="" data-param10="" data-description="">
                        <!-- main image -->
                        <img src="../../../assets/img/galeri/mpkmb-3.webp"  alt=""  data-bgposition="center center" data-bgfit="cover" data-bgrepeat="no-repeat" data-bgparallax="6" class="rev-slidebg" data-no-retina>
                        <!-- layers -->
                        <div class="opacity-extra-medium bg-black"></div>
                        <div id="rrzt_413" class="rev_row_zone rev_row_zone_top slider-typography" style="z-index: 5;">
                            <div class=" slider-text-middle-main">
                                <div class=" slider-text-middle padding-thirteen-left">
                                    <!-- layer nr. 19 -->
                                    <div class="tp-caption  " 
                                         id="slide-413-layer-14" 
                                         data-x="['left','left','left','left']" data-hoffset="['100','100','100','100']" 
                                         data-y="['top','top','top','top']" data-voffset="['100','100','100','100']" 

                                         data-type="row" 
                                         data-columnbreak="2" 
                                         data-basealign="slide" 
                                         data-responsive_offset="on" 
                                         data-responsive="off"
                                         data-frames='[{"delay":10,"speed":300,"frame":"0","from":"opacity:0;","to":"o:1;","ease":"Power3.easeInOut"},{"delay":"wait","speed":300,"frame":"999","to":"opacity:0;","ease":"Power3.easeInOut"}]'


                                         style="z-index: 5; white-space: nowrap; font-size: 20px; line-height: 22px; font-weight: 400; color: rgba(255, 255, 255, 1.00);">
                                        <!-- layer nr. 20 -->
                                        <div class="tp-caption  " 
                                             id="slide-413-layer-15" 
                                             data-x="['left','left','left','left']" data-hoffset="['100','100','100','100']" 
                                             data-y="['top','top','top','top']" data-voffset="['100','100','100','100']" 
                                             data-width="none"
                                             data-height="none"
                                             data-whitespace="'nowrap" 

                                             data-type="column" 
                                             data-responsive_offset="on" 
                                             data-responsive="off"
                                             data-frames='[{"delay":"+0","speed":300,"frame":"0","from":"opacity:0;","to":"o:1;","ease":"Power3.easeInOut"},{"delay":"wait","speed":300,"frame":"999","to":"opacity:0;","ease":"Power3.easeInOut"}]'

                                             style="z-index: 6; width: 100%;">
                                            <!-- layer nr. 21 -->
                                            <div class="tp-caption tp-resizeme blurslider-gradient alt-font text-white-2 font-weight-600 title-medium margin-30px-bottom" 
                                                 id="slide-413-layer-1" 
                                                 data-x="['left','left','center','center']" data-hoffset="['0','0','0','0']" 
                                                 data-y="['top','top','top','top']" data-voffset="['0','0','230','110']"  
                                                 data-fontsize="['130','130','100','55']"
                                                 data-lineheight="['120','120','100','60']"
                                                 data-type="text" 
                                                 data-basealign="slide" 
                                                 data-responsive_offset="on" 

                                                 data-frames='[{"delay":"+290","speed":2000,"frame":"0","from":"y:50px;opacity:0;fb:20px;","to":"o:1;fb:0;","ease":"Power4.easeOut"},{"delay":"wait","speed":300,"frame":"999","to":"opacity:0;fb:0;","ease":"Power3.easeInOut"}]'

                                                 style="z-index: 11; letter-spacing: -1px;"><a href="artikel" class="text-white-2 text-white-2-hover">Acara Puncak<br>Sangat Meriah</a></div>

                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>

                    </li>
                </ul>
                
                <div style="" class="tp-static-layers">

                    <!-- layer nr. 28 -->
                    <div class="tp-caption tp-static-layer" 
                         id="slider-151-layer-29" 
                         data-x="['right','right','right','right']" data-hoffset="['0','0','0','0']" 
                         data-y="['middle','middle','bottom','bottom']" data-voffset="['-50','-50','119','119']" 
                         data-width="['260','260','200','70']"
                         data-height="none"
                         data-whitespace="'nowrap" 
                         data-visibility="['on','on','on','off']"

                         data-type="text" 
                         data-basealign="slide" 
                         data-responsive_offset="off" 
                         data-responsive="off"
                         data-startslide="0" 
                         data-endslide="2" 
                         data-frames='[{"delay":10,"speed":300,"frame":"0","from":"opacity:0;","to":"o:1;","ease":"Power3.easeInOut"},{"delay":"wait","speed":300,"frame":"999","to":"opacity:0;","ease":"Power3.easeInOut"}]'
                         data-textAlign="['inherit','inherit','inherit','inherit']"
                         data-paddingtop="[0,0,0,0]"
                         data-paddingright="[0,0,0,0]"
                         data-paddingbottom="[0,0,0,0]"
                         data-paddingleft="[0,0,0,0]"

                         style="z-index: 17; min-width: 260px; max-width: 260px; white-space: nowrap; font-size: 15px; line-height: 15px; font-weight: 500; color: rgba(255, 255, 255, 1.00);">1 <div class="blurslider-line" style="display:inline-block;width:40px;height:1px;background:#ff214f;margin: 10px 20px 4px 15px;"></div>MPKMB</div>

                    <!-- layer nr. 29 -->
                    <div class="tp-caption tp-shape tp-shapewrapper  tp-static-layer" 
                         id="slider-151-layer-22" 
                         data-x="['right','right','right','right']" data-hoffset="['0','0','0','0']" 
                         data-y="['middle','middle','bottom','bottom']" data-voffset="['-50','-50','102','102']" 
                         data-width="['300','300','240','30%']"
                         data-height="50"
                         data-whitespace="'nowrap" 
                         data-visibility="['on','on','on','off']"

                         data-type="shape" 
                         data-basealign="slide" 
                         data-responsive_offset="off" 
                         data-responsive="off"
                         data-startslide="0" 
                         data-endslide="2" 
                         data-frames='[{"delay":"bytrigger","speed":800,"frame":"0","from":"x:[-100%];","mask":"x:0px;y:0px;s:inherit;e:inherit;","to":"o:1;","ease":"Power4.easeOut"},{"delay":"bytrigger","speed":500,"frame":"999","to":"x:[-100%];opacity:1;","mask":"x:0;y:0;s:inherit;e:inherit;","ease":"Power4.easeOut"}]'
                         data-textAlign="['inherit','inherit','inherit','inherit']"
                         data-paddingtop="[0,0,0,0]"
                         data-paddingright="[0,0,0,0]"
                         data-paddingbottom="[0,0,0,0]"
                         data-paddingleft="[0,0,0,0]"
                         data-blendmode="overlay"
                         data-lasttriggerstate="reset"
                         style="z-index: 18;background-color:rgba(0, 0, 0, 0.25);cursor:pointer;"> </div>

                    <!-- layer nr. 30 -->
                    <div class="tp-caption tp-shape tp-shapewrapper  tp-static-layer" 
                         id="slider-151-layer-21" 
                         data-x="['right','right','right','right']" data-hoffset="['0','0','0','0']" 
                         data-y="['middle','middle','bottom','bottom']" data-voffset="['-50','-50','102','102']" 
                         data-width="['300','300','240','30%']"
                         data-height="50"
                         data-whitespace="'nowrap" 
                         data-visibility="['on','on','on','off']"

                         data-type="shape" 
                         data-actions='[{"event":"mouseenter","action":"startlayer","layer":"slider-151-layer-22","delay":""},{"event":"mouseleave","action":"stoplayer","layer":"slider-151-layer-22","delay":""},{"event":"click","action":"jumptoslide","slide":"rs-411","delay":""}]'
                         data-basealign="slide" 
                         data-responsive_offset="off" 
                         data-responsive="off"
                         data-startslide="0" 
                         data-endslide="2" 
                         data-frames='[{"delay":10,"speed":1000,"frame":"0","from":"x:[-100%];","mask":"x:0px;y:0px;s:inherit;e:inherit;","to":"o:1;","ease":"Power4.easeOut"},{"delay":"wait","speed":300,"frame":"999","to":"opacity:0;","ease":"Power3.easeInOut"},{"frame":"hover","speed":"0","ease":"Power4.easeOut","to":"o:1;rX:0;rY:0;rZ:0;z:0;","style":"c:rgba(0, 0, 0, 1.00);bs:solid;bw:0 0 0 0;"}]'
                         data-textAlign="['inherit','inherit','inherit','inherit']"
                         data-paddingtop="[0,0,0,0]"
                         data-paddingright="[0,0,0,0]"
                         data-paddingbottom="[0,0,0,0]"
                         data-paddingleft="[0,0,0,0]"
                         data-blendmode="overlay"

                         style="z-index: 19;background-color:rgba(0, 0, 0, 0.2);border-color:rgba(0, 0, 0, 0);cursor:pointer;"> </div>

                    <!-- layer nr. 31 -->
                    <div class="tp-caption   tp-static-layer" 
                         id="slider-151-layer-28" 
                         data-x="['right','right','right','right']" data-hoffset="['0','0','0','0']" 
                         data-y="['middle','middle','bottom','bottom']" data-voffset="['0','0','68','68']" 
                         data-width="['260','260','200','70']"
                         data-height="none"
                         data-whitespace="'nowrap" 
                         data-visibility="['on','on','on','off']"

                         data-type="text" 
                         data-basealign="slide" 
                         data-responsive_offset="off" 
                         data-responsive="off"
                         data-startslide="0" 
                         data-endslide="2" 
                         data-frames='[{"delay":10,"speed":300,"frame":"0","from":"opacity:0;","to":"o:1;","ease":"Power3.easeInOut"},{"delay":"wait","speed":300,"frame":"999","to":"opacity:0;","ease":"Power3.easeInOut"}]'
                         data-textAlign="['inherit','inherit','inherit','inherit']"
                         data-paddingtop="[0,0,0,0]"
                         data-paddingright="[0,0,0,0]"
                         data-paddingbottom="[0,0,0,0]"
                         data-paddingleft="[0,0,0,0]"

                         style="z-index: 20; min-width: 260px; max-width: 260px; white-space: nowrap; font-size: 15px; line-height: 15px; font-weight: 500; color: rgba(255, 255, 255, 1.00);">2 <div class="blurslider-line" style="display:inline-block;width:40px;height:1px;background:#ff214f;margin: 10px 20px 4px 15px;"></div>REKOR</div>

                    <!-- layer nr. 32 -->
                    <div class="tp-caption tp-shape tp-shapewrapper  tp-static-layer" 
                         id="slider-151-layer-24" 
                         data-x="['right','right','right','right']" data-hoffset="['0','0','0','0']" 
                         data-y="['middle','middle','bottom','bottom']" data-voffset="['1','1','51','51']" 
                         data-width="['300','300','240','30%']"
                         data-height="50"
                         data-whitespace="'nowrap" 
                         data-visibility="['on','on','on','off']"

                         data-type="shape" 
                         data-basealign="slide" 
                         data-responsive_offset="off" 
                         data-responsive="off"
                         data-startslide="0" 
                         data-endslide="2" 
                         data-frames='[{"delay":"bytrigger","speed":800,"frame":"0","from":"x:[-100%];","mask":"x:0px;y:0px;s:inherit;e:inherit;","to":"o:1;","ease":"Power4.easeOut"},{"delay":"bytrigger","speed":500,"frame":"999","to":"x:[-100%];opacity:1;","mask":"x:0;y:0;s:inherit;e:inherit;","ease":"Power4.easeOut"}]'
                         data-textAlign="['inherit','inherit','inherit','inherit']"
                         data-paddingtop="[0,0,0,0]"
                         data-paddingright="[0,0,0,0]"
                         data-paddingbottom="[0,0,0,0]"
                         data-paddingleft="[0,0,0,0]"
                         data-blendmode="overlay"
                         data-lasttriggerstate="reset"
                         style="z-index: 21;background-color:rgba(0, 0, 0, 0.4);cursor:pointer;"> </div>

                    <!-- layer nr. 33 -->
                    <div class="tp-caption tp-shape tp-shapewrapper  tp-static-layer" 
                         id="slider-151-layer-23" 
                         data-x="['right','right','right','right']" data-hoffset="['0','0','0','0']" 
                         data-y="['middle','middle','bottom','bottom']" data-voffset="['1','1','51','51']" 
                         data-width="['300','300','240','30%']"
                         data-height="50"
                         data-whitespace="'nowrap" 
                         data-visibility="['on','on','on','off']"

                         data-type="shape" 
                         data-actions='[{"event":"mouseenter","action":"startlayer","layer":"slider-151-layer-24","delay":""},{"event":"mouseleave","action":"stoplayer","layer":"slider-151-layer-24","delay":""},{"event":"click","action":"jumptoslide","slide":"rs-412","delay":""}]'
                         data-basealign="slide" 
                         data-responsive_offset="off" 
                         data-responsive="off"
                         data-startslide="0" 
                         data-endslide="2" 
                         data-frames='[{"delay":10,"speed":1000,"frame":"0","from":"x:[-100%];","mask":"x:0px;y:0px;s:inherit;e:inherit;","to":"o:1;","ease":"Power4.easeOut"},{"delay":"wait","speed":300,"frame":"999","to":"opacity:0;","ease":"Power3.easeInOut"},{"frame":"hover","speed":"0","ease":"Power4.easeOut","to":"o:1;rX:0;rY:0;rZ:0;z:0;","style":"c:rgba(0, 0, 0, 1.00);bs:solid;bw:0 0 0 0;"}]'
                         data-textAlign="['inherit','inherit','inherit','inherit']"
                         data-paddingtop="[0,0,0,0]"
                         data-paddingright="[0,0,0,0]"
                         data-paddingbottom="[0,0,0,0]"
                         data-paddingleft="[0,0,0,0]"
                         data-blendmode="overlay"

                         style="z-index: 22;background-color:rgba(0, 0, 0, 0.2);border-color:rgba(0, 0, 0, 0);cursor:pointer;"> </div>

                    <!-- layer nr. 34 -->
                    <div class="tp-caption   tp-static-layer" 
                         id="slider-151-layer-27" 
                         data-x="['right','right','right','right']" data-hoffset="['0','0','0','0']" 
                         data-y="['middle','middle','bottom','bottom']" data-voffset="['50','50','17','17']" 
                         data-width="['260','260','200','70']"
                         data-height="none"
                         data-whitespace="'nowrap" 
                         data-visibility="['on','on','on','off']"

                         data-type="text" 
                         data-basealign="slide" 
                         data-responsive_offset="off" 
                         data-responsive="off"
                         data-startslide="0" 
                         data-endslide="2" 
                         data-frames='[{"delay":10,"speed":300,"frame":"0","from":"opacity:0;","to":"o:1;","ease":"Power3.easeInOut"},{"delay":"wait","speed":300,"frame":"999","to":"opacity:0;","ease":"Power3.easeInOut"}]'
                         data-textAlign="['inherit','inherit','inherit','inherit']"
                         data-paddingtop="[0,0,0,0]"
                         data-paddingright="[0,0,0,0]"
                         data-paddingbottom="[0,0,0,0]"
                         data-paddingleft="[0,0,0,0]"

                         style="z-index: 23; min-width: 260px; max-width: 260px; white-space: nowrap; font-size: 15px; line-height: 15px; font-weight: 500; color: rgba(255, 255, 255, 1.00);">3 <div class="blurslider-line" style="display:inline-block;width:40px;height:1px;background:#ff214f;margin: 10px 20px 4px 15px;"></div>PUNCAK</div>

                    <!-- layer nr. 35 -->
                    <div class="tp-caption tp-shape tp-shapewrapper  tp-static-layer" 
                         id="slider-151-layer-26" 
                         data-x="['right','right','right','right']" data-hoffset="['0','0','0','0']" 
                         data-y="['middle','middle','bottom','bottom']" data-voffset="['52','52','0','0']" 
                         data-width="['300','300','240','30%']"
                         data-height="50"
                         data-whitespace="'nowrap" 
                         data-visibility="['on','on','on','off']"

                         data-type="shape" 
                         data-basealign="slide" 
                         data-responsive_offset="off" 
                         data-responsive="off"
                         data-startslide="0" 
                         data-endslide="2" 
                         data-frames='[{"delay":"bytrigger","speed":800,"frame":"0","from":"x:[-100%];","mask":"x:0px;y:0px;s:inherit;e:inherit;","to":"o:1;","ease":"Power4.easeOut"},{"delay":"bytrigger","speed":500,"frame":"999","to":"x:[-100%];opacity:1;","mask":"x:0;y:0;s:inherit;e:inherit;","ease":"Power4.easeOut"}]'
                         data-textAlign="['inherit','inherit','inherit','inherit']"
                         data-paddingtop="[0,0,0,0]"
                         data-paddingright="[0,0,0,0]"
                         data-paddingbottom="[0,0,0,0]"
                         data-paddingleft="[0,0,0,0]"
                         data-blendmode="overlay"
                         data-lasttriggerstate="reset"
                         style="z-index: 24;background-color:rgba(0, 0, 0, 0.4);cursor:pointer;"> </div>

                    <!-- layer nr. 36 -->
                    <div class="tp-caption tp-shape tp-shapewrapper  tp-static-layer" 
                         id="slider-151-layer-25" 
                         data-x="['right','right','right','right']" data-hoffset="['0','0','0','0']" 
                         data-y="['middle','middle','bottom','bottom']" data-voffset="['52','52','0','0']" 
                         data-width="['300','300','240','30%']"
                         data-height="50"
                         data-whitespace="'nowrap" 
                         data-visibility="['on','on','on','off']"

                         data-type="shape" 
                         data-actions='[{"event":"mouseenter","action":"startlayer","layer":"slider-151-layer-26","delay":""},{"event":"mouseleave","action":"stoplayer","layer":"slider-151-layer-26","delay":""},{"event":"click","action":"jumptoslide","slide":"rs-413","delay":""}]'
                         data-basealign="slide" 
                         data-responsive_offset="off" 
                         data-responsive="off"
                         data-startslide="0" 
                         data-endslide="2" 
                         data-frames='[{"delay":10,"speed":1000,"frame":"0","from":"x:[-100%];","mask":"x:0px;y:0px;s:inherit;e:inherit;","to":"o:1;","ease":"Power4.easeOut"},{"delay":"wait","speed":300,"frame":"999","to":"opacity:0;","ease":"Power3.easeInOut"},{"frame":"hover","speed":"0","ease":"Power4.easeOut","to":"o:1;rX:0;rY:0;rZ:0;z:0;","style":"c:rgba(0, 0, 0, 1.00);bs:solid;bw:0 0 0 0;"}]'
                         data-textAlign="['inherit','inherit','inherit','inherit']"
                         data-paddingtop="[0,0,0,0]"
                         data-paddingright="[0,0,0,0]"
                         data-paddingbottom="[0,0,0,0]"
                         data-paddingleft="[0,0,0,0]"
                         data-blendmode="overlay"

                         style="z-index: 25;background-color:rgba(0, 0, 0, 0.2);border-color:rgba(0, 0, 0, 0);cursor:pointer;"> </div>
                </div>
            </div>
        </div>
        <!-- end revolution slider --> 

    </article>
</section>
<!-- end slider section -->

<!-- start masonry portfolio section -->
<section class="p-0 wow fadeIn">
    <div class="container-fluid padding-five-all" style="padding-top: 20vh;">
        <div class="row m-0">
            <div class="filter-content overflow-hidden w-100">
                <div class="col-12 margin-four-bottom lg-margin-six-bottom md-margin-40px-bottom sm-margin-30px-bottom sm-no-padding-lr text-center text-md-center">
                  <h4 class="alt-font text-dark text-center text-lg-center md-width-70 mx-auto mx-lg-0 md-no-margin-bottom sm-width-100 font-weight-700">Daftar Berita</h4>
                </div>
                
                <ul class="portfolio-grid work-4col hover-option2">
                    <li class="grid-sizer"></li>
                    <!-- start portfolio item -->
                    <li class="grid-item wow zoomIn padding-5px-right padding-5px-bottom">
                        <a href="artikel">
                            <figure>
                                <div class="portfolio-img bg-white"><img src="http://placehold.it/300x300" alt="" style="width: 300px; height: 300px"/></div>
                                <figcaption>
                                    <div class="portfolio-hover-main text-left">
                                        <div class="portfolio-hover-box vertical-align-bottom">
                                            <div class="portfolio-hover-content position-relative last-paragraph-no-margin">
                                                <div class="bg-black margin-25px-bottom separator-line-horrizontal-medium-light2"></div>
                                                <span class="font-weight-600 line-height-normal alt-font text-dark text-uppercase margin-one-half-bottom display-block">Judul Berita 1</span>
                                            </div>
                                        </div>
                                    </div>
                                </figcaption>
                            </figure>
                        </a>
                    </li>
                    <!-- end portfolio item -->

                    <!-- start portfolio item -->
                    <li class="grid-item wow zoomIn" data-wow-delay="0.2s">
                        <a href="artikel">
                            <figure>
                                <div class="portfolio-img bg-white"><img src="http://placehold.it/300x600" alt="" style="width: 300px; height: 600px"/></div>
                                <figcaption>
                                    <div class="portfolio-hover-main text-left">
                                        <div class="portfolio-hover-box vertical-align-bottom">
                                            <div class="portfolio-hover-content position-relative last-paragraph-no-margin">
                                                <div class="bg-black margin-25px-bottom separator-line-horrizontal-medium-light2"></div>
                                                <span class="font-weight-600 line-height-normal alt-font text-dark text-uppercase margin-one-half-bottom display-block">Judul Berita 2</span>
                                            </div>
                                        </div>
                                    </div>
                                </figcaption>
                            </figure>
                        </a>
                    </li>
                    <!-- end portfolio item -->

                    <!-- start portfolio item -->
                    <li class="grid-item wow zoomIn padding-5px-left padding-5px-bottom" data-wow-delay="0.4s">
                        <a href="artikel">
                            <figure>
                                <div class="portfolio-img bg-white"><img src="http://placehold.it/300x300" alt="" style="width: 300px; height: 300px"/></div>
                                <figcaption>
                                    <div class="portfolio-hover-main text-left">
                                        <div class="portfolio-hover-box vertical-align-bottom">
                                            <div class="portfolio-hover-content position-relative last-paragraph-no-margin">
                                                <div class="bg-black margin-25px-bottom separator-line-horrizontal-medium-light2"></div>
                                                <span class="font-weight-600 line-height-normal alt-font text-dark text-uppercase margin-one-half-bottom display-block">Judul Berita 3</span>
                                            </div>
                                        </div>
                                    </div>
                                </figcaption>
                            </figure>
                        </a>
                    </li>
                    <!-- end portfolio item -->

                    <!-- start portfolio item -->
                    <li class="grid-item wow zoomIn padding-5px-left padding-5px-bottom" data-wow-delay="0.6s">
                        <a href="artikel">
                            <figure>
                                <div class="portfolio-img bg-white"><img src="http://placehold.it/300x300" alt="" style="width: 300px; height: 300px"/></div>
                                <figcaption>
                                    <div class="portfolio-hover-main text-left">
                                        <div class="portfolio-hover-box vertical-align-bottom">
                                            <div class="portfolio-hover-content position-relative last-paragraph-no-margin">
                                                <div class="bg-black margin-25px-bottom separator-line-horrizontal-medium-light2"></div>
                                                <span class="font-weight-600 line-height-normal alt-font text-dark text-uppercase margin-one-half-bottom display-block">Judul Berita 4</span>
                                            </div>
                                        </div>
                                    </div>
                                </figcaption>
                            </figure>
                        </a>
                    </li>
                    <!-- end portfolio item -->

                    <!-- start portfolio item -->
                    <li class="grid-item wow zoomIn padding-5px-right">
                        <a href="artikel">
                            <figure>
                                <div class="portfolio-img bg-white"><img src="http://placehold.it/300x300" alt="" style="width: 300px; height: 300px"/></div>
                                <figcaption>
                                    <div class="portfolio-hover-main text-left">
                                        <div class="portfolio-hover-box vertical-align-bottom">
                                            <div class="portfolio-hover-content position-relative last-paragraph-no-margin">
                                                <div class="bg-black margin-25px-bottom separator-line-horrizontal-medium-light2"></div>
                                                <span class="font-weight-600 line-height-normal alt-font text-dark text-uppercase margin-one-half-bottom display-block">Judul Berita 5</span>
                                            </div>
                                        </div>
                                    </div>
                                </figcaption>
                            </figure>
                        </a>
                    </li>
                    <!-- end portfolio item -->

                    <!-- start portfolio item -->
                    <li class="grid-item wow zoomIn padding-5px-left" data-wow-delay="0.2s">
                        <a href="artikel">
                            <figure>
                                <div class="portfolio-img bg-white"><img src="http://placehold.it/300x300" alt="" style="width: 300px; height: 300px"/></div>
                                <figcaption>
                                    <div class="portfolio-hover-main text-left">
                                        <div class="portfolio-hover-box vertical-align-bottom">
                                            <div class="portfolio-hover-content position-relative last-paragraph-no-margin">
                                                <div class="bg-black margin-25px-bottom separator-line-horrizontal-medium-light2"></div>
                                                <span class="font-weight-600 line-height-normal alt-font text-dark text-uppercase margin-one-half-bottom display-block">Judul Berita 6</span>
                                            </div>
                                        </div>
                                    </div>
                                </figcaption>
                            </figure>
                        </a>
                    </li>
                    <!-- end portfolio item -->

                    <!-- start portfolio item -->
                    <li class="grid-item wow zoomIn padding-5px-left" data-wow-delay="0.4s">
                        <a href="artikel">
                            <figure>
                                <div class="portfolio-img bg-white"><img src="../../../assets/img/galeri/mpkmb-4.webp" alt="" style="width: 300px; height: 300px"/></div>
                                <figcaption>
                                    <div class="portfolio-hover-main text-left">
                                        <div class="portfolio-hover-box vertical-align-bottom">
                                            <div class="portfolio-hover-content position-relative last-paragraph-no-margin">
                                                <div class="bg-black margin-25px-bottom separator-line-horrizontal-medium-light2"></div>
                                                <span class="font-weight-600 line-height-normal alt-font text-dark text-uppercase margin-one-half-bottom display-block">Judul Berita 7</span>
                                            </div>
                                        </div>
                                    </div>
                                </figcaption>
                            </figure>
                        </a>
                    </li>
                    <!-- end portfolio item -->
                </ul>
            </div>
        </div>
    </div>
</section>
<!-- end masonry portfolio section -->

<!-- start blockquote style 02 section -->
<section class="wow fadeIn bg-light-gray">
    <div class="container">
        <div class="row text-center justify-content-center">
            <div class="col-12 col-lg-8">
                <!-- start blockquote -->
                <h5 class="text-extra-dark-gray margin-50px-bottom md-margin-20px-bottom alt-font">
                  <i class="fas fa-quote-left text-light-gray icon-large margin-15px-bottom"></i>
                  Apa yang mendefinisikan siapa kita, tidak ada artinya dibandingkan apa yang menyatukan kita.
                  <i class="fas fa-quote-right text-right text-light-gray icon-large margin-15px-bottom"></i>
                </h5>
                <!-- end blockquote -->
            </div>
        </div>
    </div>
</section>
<!-- end blockquote style 02 section -->

<!-- start Event Timeline section --> 
<section class="wow fadeIn">
    <div class="container" style="height: 50vh;"> 
        <div class="row"> 
            <div class="col-12">
                <div class="swiper-number-pagination swiper-container black-move">
                    <div class="bg-transparent-white opacity-full-dark z-index-5 d-none d-lg-block"></div>
                    <div class="col-12 col-lg-12 text-center">
                        <div class="position-relative overflow-hidden w-100">
                            <span class="text-large text-outside-line-full alt-font font-weight-600 text-uppercase">Timeline Terdekat</span>
                        </div>
                    </div>
                    <div class="swiper-wrapper">

                        <!-- start slider item -->
                        <div class="swiper-slide">
                            <div class="slider-half-small-screen position-relative bg-white">
                                <div class="slider-typography text-left">
                                    <div class="slider-text-middle-main">
                                        <div class="slider-text-middle">
                                            <span class="text-extra-large text-middle-line font-weight-300 text-deep-pink d-block w-50 sm-width-65">DD-MM-YYYY</span>
                                            <h2 class="text-extra-dark-gray w-50 d-inline-block font-weight-300 letter-spacing-minus-1 lg-width-70 sm-width-80">Ngumpulin Tugas</h2>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <!-- end slider item -->

                        <!-- start slider item -->
                        <div class="swiper-slide">
                            <div class="slider-half-small-screen position-relative bg-white">
                                <div class="slider-typography text-left">
                                    <div class="slider-text-middle-main">
                                        <div class="slider-text-middle">
                                            <span class="text-extra-large text-middle-line font-weight-300 text-deep-pink d-block w-50 sm-width-65">DD-MM-YYYY</span>
                                            <h2 class="text-extra-dark-gray w-50 d-inline-block font-weight-300 letter-spacing-minus-1 lg-width-70 sm-width-80">Kumpul Perdana</h2>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <!-- end slider item -->

                        <!-- start slider item -->
                        <div class="swiper-slide">
                            <div class="slider-half-small-screen position-relative bg-white">
                                <div class="slider-typography text-left">
                                    <div class="slider-text-middle-main">
                                        <div class="slider-text-middle">
                                            <span class="text-extra-large text-middle-line font-weight-300 text-deep-pink d-block w-50 sm-width-65">DD-MM-YYYY</span>
                                            <h2 class="text-extra-dark-gray w-50 d-inline-block font-weight-300 letter-spacing-minus-1 lg-width-70 sm-width-80">Acara Puncak</h2>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <!-- end slider item -->
                    </div>
                    <div class="swiper-pagination swiper-number"></div>
                </div>
            </div>
        </div>
    </div>
</section>
<!-- end Event Timeline section --> 
    
<!-- start slider section -->
<section id="homepage-1" class="no-padding main-slider mobile-height wow fadeIn" style="max-height: 40vh;">
    <div class="swiper-container width-100">
        <div class="swiper-wrapper">

            <!-- start slider item -->
            <div class="swiper-slide cover-background" style="background-image:url('../../../assets/img/galeri/mpkmb-7.webp');">
                <div style="background-color: rgba(0,0,0,0.5)">
                    <div class="container position-relative full-screen">
                        <div class="row">
                            <div class="col-md-10 slider-typography text-center text-md-left">
                                <div class="slider-text-middle-main">
                                    <div class="slider-text-middle">
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>            
                </div>
            </div>
            <!-- end slider item -->

        </div>
    </div>
</section>
<!-- end slider section --> 

