<!-- start parallax hero section -->
<section class="wow fadeIn p-0 parallax sm-background-image-center" data-stellar-background-ratio="0.5" style="background-image: url('http://placehold.it/1920x1100')">
  <div class="opacity-extra-medium bg-black"></div>
  <div class="container-fluid position-relative full-screen">
      <div class="slider-typography">
          <div class="slider-text-middle-main">
              <div class="slider-text-bottom">
                  <div class="col-12 col-xl-6 col-lg-7 bg-deep-pink-opacity width-350px height-200px lg-padding-seven-lr padding-five-tb position-pc">
                      <div class="box-separator-line width-180px bg-white lg-width-120px md-width-90px d-none d-lg-block"></div>
  
                      <h1 class="font-weight-600 alt-font text-white-2 width-95 md-width-100">Buku</h1>
  
                      <p class="text-large font-weight-300 text-white-2 width-75 lg-width-85 md-width-95 sm-width-100 d-none d-md-block">MPKMB IPB 56</p>
                  </div> 
                </div>
          </div>
      </div>
  </div>
</section>
<!-- end parallax hero section -->

<!-- start feature box section -->
<section class="p-0 wow fadeIn bg-extra-dark-gray">
    <div class="container-fluid">
        <div class="row">
            <div class="col-12 col-lg-6 cover-background md-height-500px sm-height-350px wow fadeIn" style="background-image:url('http://placehold.it/960x668');"><div class="sm-height-400px"></div></div>

            <div class="col-12 col-lg-6 padding-five-tb padding-five-half-lr lg-padding-50px-tb md-padding-70px-tb md-padding-15px-lr wow fadeIn">
              <div class="row m-0">
                <div class="col-12 margin-four-bottom lg-margin-six-bottom md-margin-40px-bottom sm-margin-30px-bottom sm-no-padding-lr text-center text-md-center">
                  <h4 class="alt-font text-white-2 text-center text-lg-center md-width-70 mx-auto mx-lg-0 md-no-margin-bottom sm-width-100 font-weight-700">Spesifi</h4>
                  <h4 class="alt-font text-white-2 text-center text-lg-center md-width-70 mx-auto mx-lg-0 md-no-margin-bottom sm-width-100 font-weight-700">-kasi</h4>
                </div>

                <!-- start feature box item -->
                <div class="col-12 col-xl-6 col-lg-12 col-md-6 margin-six-bottom md-margin-30px-bottom sm-no-padding last-paragraph-no-margin text-center text-md-left">
                    <div class="text-light-gray margin-10px-bottom md-margin-5px-bottom alt-font"><span class="text-deep-pink margin-15px-right float-left text-large d-block d-md-inline-block sm-width-100">01.</span>Spesifikasi 1</div>
                    <p>Lorem ipsum dolor sit amet consecte</p>
                </div>
                <!-- end feature box item -->

                <!-- start feature box item -->
                <div class="col-12 col-xl-6 col-lg-12 col-md-6 margin-six-bottom md-margin-30px-bottom sm-no-padding last-paragraph-no-margin text-center text-md-left">
                  <div class="text-light-gray margin-10px-bottom md-margin-5px-bottom alt-font"><span class="text-deep-pink margin-15px-right float-left text-large d-block d-md-inline-block sm-width-100">02.</span>Spesifikasi 2</div>
                  <p>Lorem ipsum dolor sit amet consecte</p>
                </div>
                <!-- end feature box item -->

                <!-- start feature box item -->
                <div class="col-12 col-xl-6 col-lg-12 col-md-6 lg-margin-six-bottom md-no-margin-bottom sm-margin-30px-bottom sm-no-padding last-paragraph-no-margin text-center text-md-left">
                  <div class="text-light-gray margin-10px-bottom md-margin-5px-bottom alt-font"><span class="text-deep-pink margin-15px-right float-left text-large d-block d-md-inline-block sm-width-100">03.</span>Spesifikasi 3</div>
                  <p>Lorem ipsum dolor sit amet consecte</p>
                </div>
                <!-- end feature box item -->

                <!-- start feature box item -->
                <div class="col-12 col-xl-6 col-lg-12 col-md-6 md-no-margin-bottom sm-no-padding last-paragraph-no-margin text-center text-md-left">
                  <div class="text-light-gray margin-10px-bottom md-margin-5px-bottom alt-font"><span class="text-deep-pink margin-15px-right float-left text-large d-block d-md-inline-block sm-width-100">04.</span>Spesifikasi 4</div>
                  <p>Lorem ipsum dolor sit amet consecte</p>
                </div>
                <!-- end feature box item -->

                <!-- start Description -->
                <div class="col-12 margin-four-bottom lg-margin-six-bottom md-margin-40px-bottom sm-margin-30px-bottom sm-no-padding-lr text-justify text-md-justify" style="padding-top: 5vh;">
                  <p class="alt-font text-white-2 text-justify text-medium-justify md-width-70 mx-auto mx-lg-0 md-no-margin-bottom sm-width-100">Lorem ipsum dolor sit amet consectetur adipisicing elit. Id quaerat molestias animi architecto fugit ullam dolores perferendis obcaecati mollitia voluptatibus, alias ut, unde dignissimos enim! Fugit omnis sit voluptatum numquam?</p>
                </div>
                <!-- end Description -->
                
              </div>
            </div> 
        </div>
    </div>
</section>
<!-- end feature box section -->

<!-- start recent work section -->
<section id="homepage-3" class="bg-light-gray wow fadeIn">
  <div class="container">
      <div class="row justify-content-center">
          <div class="col-12 col-xl-5 col-md-6 md-margin-40px-bottom sm-margin-30px-bottom text-center">
              <h5 class="alt-font text-extra-dark-gray font-weight-600 mb-0">Pilihan Buku</h5>
              <h5 class="alt-font text-extra-dark-gray font-weight-600 mb-0"><s class="text-deep-pink">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;</s></h5>
          </div>
      </div>
      <div class="row">
          <div class="col-12 p-0 sm-padding-15px-lr">
              <div class="filter-content overflow-hidden">
                  <ul class="portfolio-grid work-3col gutter-large hover-option6 lightbox-portfolio">
                      <li class="grid-sizer"></li>

                      <!-- start portfolio item -->
                      <li class="grid-item wow zoomIn last-paragraph-no-margin" data-wow-delay="0.4s">
                          <figure>
                              <div class="portfolio-img bg-deep-pink position-relative text-center overflow-hidden">
                                <img src="http://placehold.it/800x650" alt=""/>
                              </div>
                          </figure>
                      </li>
                      <!-- end portfolio item -->

                      <!-- start portfolio item -->
                      <li class="grid-item wow zoomIn last-paragraph-no-margin" data-wow-delay="0.4s">
                              <figure>
                                  <div class="portfolio-img bg-deep-pink position-relative text-center overflow-hidden">
                                    <img src="http://placehold.it/800x650" alt=""/>
                                  </div>
                              </figure>
                          </li>
                          <!-- end portfolio item -->
  
  
                      <!-- start portfolio item -->
                      <li class="grid-item wow zoomIn last-paragraph-no-margin" data-wow-delay="0.4s">
                          <figure>
                              <div class="portfolio-img bg-deep-pink position-relative text-center overflow-hidden">
                                <img src="http://placehold.it/800x650" alt=""/>
                              </div>
                          </figure>
                      </li>
                      <!-- end portfolio item -->

                  </ul>
              </div>
          </div>
      </div>
  </div>
</section>
<!-- end recent work section -->

<!-- start section -->
<section class="wow fadeIn">
    <div class="container">
        <div class="row justify-content-center">
            <div class="col-12 col-lg-5 col-md-11 padding-five-right md-margin-70px-bottom text-center text-lg-left md-padding-15px-lr sm-margin-50px-bottom wow fadeIn">
                <p class="alt-font text-deep-pink margin-10px-bottom"><s>MPKMB Store</s></p>
                <h5 class="alt-font font-weight-600 text-extra-dark-gray">Lembar Pemesanan</h5>
                <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Corporis quisquam, nesciunt harum atque, vitae ex saepe odit vero non provident rerum accusamus. Rerum commodi id vel dicta autem pariatur alias?</p>
            </div>

            <div class="col-12 col-lg-7 padding-five-lr md-padding-15px-lr">
                <div class="row m-0">
                  <form id="contact-form-2" action="javascript:void(0)" method="post">
                      <div class="row justify-content-center">
                          <div class="col-12 col-lg-8 wow fadeIn text-center">
                              <div id="success-contact-form-2" class="mx-0"></div>
                                <input type="text" name="name" id="name" placeholder="Nama Lengkap*" class="input-border-bottom">

                                <select name="budget" id="budget" class="input-border-bottom">
                                    <option value="">Fakultas*</option>
                                    <option value="FAPERTA">FAPERTA</option>
                                    <option value="FKH">FKH</option>
                                    <option value="FPIK">FPIK</option>
                                    <option value="FAPET">FAPET</option>
                                    <option value="FAHUTAN">FAHUTAN</option>
                                    <option value="FATETA">FATETA</option>
                                    <option value="FMIPA">FMIPA</option>
                                    <option value="FEM">FEM</option>
                                    <option value="FEMA">FEMA</option>
                                    <option value="SB">SB</option>
                                </select>

                                <input type="text" name="email" id="email" placeholder="E-mail*" class="input-border-bottom">

                                <input type="text" id="idline" name="idline" placeholder="ID Line / WhatsApp*" class="input-border-bottom">

                                <textarea name="pemesanan" id="pemesanan" placeholder="Barang yang Dipesan*" class="input-border-bottom"></textarea>

                                <button id="contact-us-button-2" type="submit" class="btn btn-dark-gray btn-rounded btn-small no-margin-lr">Pesan Sekarang</button>
                          </div>
                      </div>
                  </form>
                </div>
            </div>
        </div>
    </div>
</section>
<!-- end section -->

