<!-- start header -->
<header>
    <!-- start navigation -->
    <nav class="navbar navbar-default bootsnav navbar-fixed-top header-dark background-transparent nav-box-width white-link header-dark-transparent navbar-expand-lg menu-center">
        <div class="container-fluid nav-header-container">
            <div class="col accordion-menu pr-0 pr-md-3">
                <button type="button" class="navbar-toggler collapsed" data-toggle="collapse" data-target="#navbar-collapse-toggle-1">
                    <span class="sr-only">toggle navigation</span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
                <div class="navbar-collapse collapse justify-content-center" id="navbar-collapse-toggle-1">
                    <ul id="accordion" class="nav navbar-nav no-margin alt-font text-normal" data-in="fadeIn" data-out="fadeOut">
                        <!-- start menu item -->
                        <li class="simple-dropdown">
                            <a href="#" style="color: white;">Beranda</a>
                        </li>

                        <li class="simple-dropdown">
                            <a href="#" style="color: white">Buku</a>
                        </li>

                        <li class="simple-dropdown">
                            <a href="#" style="color: white">Berita</a>
                        </li>

                        <!-- Start Logo -->
                        <li class="simple-dropdown logo-header-list">
                            <a href="../../../index.html" title="Pofo" class="">
                                <img src="../../../assets/ipb.png" class="logo-dark default logo-header" alt="Logo-IPB">
                            </a>        
                        </li>
                        <!-- End Logo -->
        
                        <li class="simple-dropdown">
                            <a href="#" style="color: white">Penugasan</a>
                        </li>

                        <li class="simple-dropdown">
                            <a href="#" style="color: white">Galeri</a>
                        </li>

                        <li class="simple-dropdown">
                            <a href="#" style="color: white">Kontak</a>
                        </li>
                        <!-- end menu item -->

                    </ul>
                </div>
            </div>
        </div>
    </nav>
    <!-- end navigation --> 
</header>
<!-- end header -->

