
<!-- start header -->
<header>
    <!-- start navigation -->
    <nav class="navbar navbar-default bootsnav navbar-fixed-top header-dark-transparent background-transparent nav-box-width white-link navbar-expand-lg menu-center">
        <div class="container-fluid nav-header-container">
            <!-- start logo -->
            <div class="col-auto col-lg-2 pl-0">
            </div>
            <!-- end logo -->

            <div class="col accordion-menu pr-0 pr-md-3">
                <button type="button" class="navbar-toggler collapsed" data-toggle="collapse" data-target="#navbar-collapse-toggle-1">
                    <span class="sr-only">toggle navigation</span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
                <div class="navbar-collapse collapse justify-content-center" id="navbar-collapse-toggle-1">
                    <ul id="accordion" class="nav navbar-nav no-margin alt-font text-normal" data-in="fadeIn" data-out="fadeOut">
                        <!-- start menu item -->
                        <li class="dropdown">
                            <a href="/homepage">Beranda</a>
                        </li>
                        
                        <li class="dropdown">
                            <a href="/buku">Buku</a>
                        </li>

                        <li class="dropdown">
                            <a href="/berita">Berita</a>
                        </li>

                        <!-- Start Logo -->
                        <li class="dropdown logo-header-list">
                            <a href="/homepage" title="">
                                <img src="../../../assets/ipb.png" class="logo-dark default logo-header" alt="Logo-IPB">
                            </a>        
                        </li>
                        <!-- End Logo -->

                        <li class="dropdown">
                            <a href="/penugasan">Penugasan</a>
                        </li>

                        <li class="dropdown">
                            <a href="/galeri">Galeri</a>
                        </li>

                        <li class="dropdown">
                            <a href="/kontak">Kontak</a>
                        </li>

                        <li class="dropdown store-show">
                            <a href="/store">MPKMB Store</a>
                        </li>
                        
                    </ul>
                </div>
            </div>

            <div class="col-auto col-lg-2 pr-0 text-right btn-dual" style="padding-top: -5vh;">
                <div class="btn btn-white btn-rounded btn-small margin-20px-lr sm-margin-5px-top header-social-icon d-none d-md-inline-block store-hover">
                    <a href="/store" class="text-dark" title="MPKMB Store">MPKMB Store <i class="fas fa-shopping-cart" aria-hidden="true"></i></a>
                </div>
            </div>
        </div>
    </nav>
    <!-- end navigation --> 
</header>

