<!-- start slider section -->
<section class="p-0 full-screen">
    <div class="swiper-container swiper-vertical-pagination swiper-container-vertical no-transition">
        <div class="swiper-wrapper">

          <!-- start slide 1 -->
            <div class="swiper-slide cover-background" style="background-image:url('../../../assets/img/galeri/mpkmb-2.webp');">
                <div class="full-screen width-100 position-relative">
                    <!-- start slider item -->
                    <div class="swiper-slide cover-background" style="background-color: rgba(0, 0, 0, 0.5);">
                        <div class="container position-relative full-screen">
                            <div class="col-md- slider-typography text-center text-md-left">
                                <div class="slider-text-middle-main">
                                    <div class="slider-text-middle">
                                        <h1 class="alt-font text-white-2 font-weight-700 letter-spacing-minus-1 line-height-40 width-55 lg-width-60 md-width-70 lg-line-height-auto"><b>MPKMB</b></h1>
                                        <h2 class="alt-font text-white-2 font-weight-400 letter-spacing-minus-1 width-55 lg-width-60 md-width-70 lg-line-height-auto sm-width-100">IPB 56</h2>
                                        <p class="text-white-2 text-medium margin-four-bottom width-40 lg-width-50 md-width-60 sm-width-100 sm-margin-15px-bottom"><s style="color: #ff214f;">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;</s> Lorem ipsum, dolor sit amet consectetur adipisicing elit.</p>
                                        <div class="btn-dual">
                                                <a href="#" target="_blank" class="btn btn-transparent-white btn-rounded btn-small margin-20px-lr sm-margin-5px-top" style="color: #fccf02;">Selengkapnya -></a>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <!-- end slider item -->
                </div>
            </div>
          <!-- end slide 1 -->

          <!-- start slide 2 -->
            <div class="swiper-slide cover-background bg-extra-dark-gray" style="background-color: #1c1c1c">
                <div class="full-screen width-100 position-relative">
                    <div class="slider-typography text-left">
                        <div class="slider-text-middle-main">
                            <section class="bg-extra-dark-gray">
                                <div class="container">
                                    <div class="row align-items-center"> 
                                        <div class="col-12 col-lg-5 lg-margin-50px-bottom">
                                            <s style="color: #ff214f">
                                                <p class="alt-font text-deep-pink margin-30px-bottom" style="font-size: 1.5em;">Timeline Terdekat &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;</p>
                                            </s>
                                            <h5 class="alt-font text-white margin-30px-bottom">Apa itu MPKMB?</h5>
                                            <p class="text-white">Lorem ipsum dolor sit amet consectetur adipisicing elit. Vel maxime est quod consequuntur temporibus eum illo qui magnam eveniet, odit ipsa, nesciunt iusto labore nostrum dolores amet? Magni, soluta explicabo!</p>
                                        </div>
                                        <div class="col-12 col-lg-7">
                                            <img src="../../../assets/img/galeri/mpkmb-1.webp" alt="" class="w-100">
                                        </div> 
                                    </div>
                                </div>
                            </section>                    
                        </div>
                    </div>
                </div>
            </div>
          <!-- end slide 2 -->

          <!-- start slide 3 -->
          <div class="swiper-slide cover-background" style="background-color: #ffffff">
                <div class="full-screen width-100 position-relative">
                    <div class="slider-typography text-left">
                        <div class="slider-text-middle-main">
                            <section class="">
                                <div class="container">
                                    <div class="row align-items-center text-center" style="padding-right: 2vw;"> 
                                        <div class="col-12 col-lg-12">
                                            <h3 class="alt-font text-white">Portal</h3>
                                            <span class="separator-line-horrizontal-medium-light2 bg-deep-pink d-table mx-auto width-100px" style="margin-bottom: 5vh;"></span>
                                        </div>
                                    </div>
                                    <div class="row align-items-center" style="padding-right: 2vw;"> 
                                        <div class="col-12 col-lg-4">
                                            <figure>
                                                <div class="feature-box-content sm-width-100">
                                                    <div class="feature-box-image">
                                                        <a href="#">
                                                            <img src="../../../assets/img/galeri/mpkmb-1.webp" alt="" style="border-radius: 5px;">
                                                        </a>
                                                    </div>
                                                </div>
                                                <figcaption>
                                                    <div class="text-center margin-25px-top">
                                                        <span class="separator-line-horrizontal-medium-light2 bg-deep-pink d-table mx-auto width-300px" style="margin-bottom: 5vh;"></span>
                                                        <div class="text-white alt-font font-weight-600"><span style="font-size: 2em;">Buku</span></div> 
                                                    </div>   
                                                </figcaption>
                                            </figure>
                                        </div> 
                                        <div class="col-12 col-lg-4">
                                            <figure>
                                                <div class="feature-box-content sm-width-100">
                                                    <div class="feature-box-image">
                                                        <a class="img-hover" href="#">
                                                            <img src="../../../assets/img/galeri/mpkmb-1.webp" alt="" style="border-radius: 5px;">
                                                        </a>
                                                    </div>
                                                </div>
                                                <figcaption>
                                                    <div class="text-center margin-25px-top">
                                                        <span class="separator-line-horrizontal-medium-light2 bg-deep-pink d-table mx-auto width-300px" style="margin-bottom: 5vh;"></span>
                                                        <div class="text-white alt-font font-weight-600"><span style="font-size: 2em;">Berita</span></div> 
                                                    </div>   
                                                </figcaption>
                                            </figure>
                                        </div> 
                                        <div class="col-12 col-lg-4">
                                            <figure>
                                                <div class="feature-box-content sm-width-100">
                                                    <div class="feature-box-image">
                                                        <a href="#">
                                                            <img src="../../../assets/img/galeri/mpkmb-1.webp" alt="" style="border-radius: 5px;">
                                                        </a>
                                                    </div>
                                                </div>
                                                <figcaption>
                                                    <div class="text-center margin-25px-top">
                                                        <span class="separator-line-horrizontal-medium-light2 bg-deep-pink d-table mx-auto width-300px" style="margin-bottom: 5vh;"></span>
                                                        <div class="text-white alt-font font-weight-600"><span style="font-size: 2em;">Penugasan</span></div> 
                                                    </div>   
                                                </figcaption>
                                            </figure>
                                        </div> 
                                    </div>
                                </div>
                            </section>                    
                        </div>
                    </div>
                </div>
            </div>
          <!-- end slide 3 -->

        </div>

        <!-- start slider pagination -->
        <div class="swiper-pagination swiper-pagination-vertical swiper-pagination-white"></div>
        <!-- end slider pagination -->

    </div> 
</section>
<!-- end slider section -->
<!-- start scroll to top -->
<a class="scroll-top-arrow" href="javascript:void(0);"><i class="ti-arrow-up"></i></a>
<!-- end scroll to top  -->
